@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245; 
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 245, 245, 245; 
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* styles/globals.css atau styles.css */
.aspect-ratio-box::before {
  content: '';
  display: block;
  padding-top: 56.25%; /* Aspek rasio 16:9 */
}

.aspect-ratio-water::before {
  content: '';
  display: block;
  padding-top: 258.125%; /* Aspek rasio 16:9 */
}

.container {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.horizontal-scroll{
  width: 100%;
  overflow-x: scroll;
  scrollbar-color: transparent transparent; 
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
    .svgWrapper:hover svg {
      fill: #ff0000; /* Warna baru saat hover */
  }
  }
}
